<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Model Preview</title>
    <script src="https://cdn.babylonjs.com/babylon.max.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
  </head>
  <body>
    <div id="container">
        <div id="feed">
            <img id="image" class="display">
            <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
            <script type="text/javascript">
                var socket = io.connect('http://localhost:6969');
                socket.on('image', (image) => {
                    const imgElem = document.getElementById('image');
                    imgElem.src = `data:image/jpeg;base64,${image}`;
                });
             </script>
        </div>
        <div id="scene">
            <canvas id="renderCanvas" class="display"></canvas>
            <script type=text/javascript src="{{ url_for('static', filename = 'js/classModel.js') }}"></script>
        </div>
    </div>
  </body>
</html>
